fastapi
uvicorn
langchain
langchain-community
faiss-cpu
#tavily-python
python-dotenv
pydantic
pydantic[email]
matplotlib
google-generativeai
redis
langchain_openai
langchain_postgres
psycopg2-binary
pandas
numpy




